# Port to run the Pimptune server on
PIMPTUNE_PORT=8080

# OAuth configuration to allow managers to sign into the web application
PIMPTUNE_OAUTH_ISSUER_URL=https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0
PIMPTUNE_OAUTH_CLIENT_ID=00000000-0000-0000-0000-000000000000
PIMPTUNE_OAUTH_CLIENT_SECRET=x

# Azure AD Application credentials.
# Needs the followingPermissions:
# - Microsoft Graph: Application.Read.All
# - Intune: scep_challenge_provider
PIMPTUNE_INTUNE_TENANT_ID=00000000-0000-0000-0000-000000000000
PIMPTUNE_INTUNE_CLIENT_ID=00000000-0000-0000-0000-000000000000
PIMPTUNE_INTUNE_CLIENT_SECRET_FILE=./client_secret.txt

# SCEP server RA certificate and key
# This certificate SHOULD be a leaf cert signed by the issuing CA
# It MUST be an RSA key (no ECIES support in SCEP implementation)
PIMPTUNE_RA_CRT=./ra.crt
PIMPTUNE_RA_KEY=./ra.key

# Full CA chain file (CA's only, no leaf cert)
PIMPTUNE_CA_CHAIN=./chain.pem

# Credentials and API info for Step CA server
# Generate JWK key pair and register the public key with a named Step provisioner
PIMPTUNE_STEP_API_URL=https://localhost:8443
PIMPTUNE_STEP_PROVISIONER_NAME=pimptune
PIMPTUNE_STEP_JSON_WEB_KEY_FILE=./scep-ra.key.json
PIMPTUNE_STEP_JSON_WEB_KEY_PASSWORD_FILE=./jwk_password.txt